@import "variables.less";



.navigation_bar {
  width: 100%;
  background-color: @dark_blue;
}

.nav_list {
  list-style-type: none;
  display: table;
  width: 100%;

  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;

  li {
    display: table-cell;
    width: 20%;
    color: white;
    font-family: sans-serif;
    text-align: center;
    align-content: center;
    height: 2rem;
    margin: auto 0 auto 0;
    vertical-align: middle;
  }

  li:hover {
    border-top: solid 0.1rem @dark_blue;
    border-bottom: solid 0.1rem @dark_blue;
    background-color: @light_blue;
    color: @black;
  }
}
