@import "variables.less";

.navigation_bar {
  width: 100%;
  background-color: darkblue;
}

.nav_list {
  list-style-type: none;
  padding: 0.3rem 0 0.3rem 0;
  display: table;
  width: 100%;

  li {
    display: table-cell;
    width: 20%;
    color: white;
    font-family: sans-serif;
    text-align: center;
    align-content: center;
  }
}
