@import "variables.less";

.navigation_bar {
  width: 100%;
  background-color: darkblue;
}

.nav_list {
  list-style-type: none;
  padding: 0.3rem;

  li {
    display: inline;
    color: white;
    font-family: sans-serif;
  }
}
