@import "variables.less";

body {
    background: @color_three;
}

#container {
    background: @color_two;
    margin: 0 auto;
    border: 1px solid @color_one;
    width: 800px;
    min-height: 750px;
    border-radius: @small_radius;
}

@import "header.less";
