/***** css logo *****/
#logo_container {
    border-radius: 40px;
    border: 2px solid #000000;
    width: 600px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#logo_text {
    background: none;
    margin: 6px;
    font-family: helvetica, arial, sans-serif;
    font-size: 3rem;
    font-style: normal;
    color: black;
    margin: 1rem;
}

.logo_dot {
    position: absolute;
    width: 10px;
    height: 10px;    
    border-radius: 50%;
    border: 1px solid #c9c9c9;
    padding: 20px; 
    top: 4%;
}

#logo_blue_dot {
    background: #99ccff;
    left: 58%;
}

#logo_orange_dot {
    background: #fbaa34;
    left: 68%;
}

#logo_green_dot {
    background: #39b54a;
    left: 78%;
}

#logo_yellow_dot {
    background: #fff200;
    left: 88%;
}
